/* pagina opmaak */
#flex-box{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
body{
	background-color: #A5A5AF;
	margin: 0px;
	padding: 0px;
}
header{
	background-color: #015249;
	margin-top: -21px;
	margin-right: -10px;
	margin-left: -10px;
	margin-bottom: 10px;
	padding-top: 30px;
	height: 110px;
	font-family: Magneto;
	color: #57BC90;
}
main{
	margin-top: 100px;
	font-family: sans-serif;
	margin-left: 20px;
	margin-bottom: -30px;
	height: 1080px;
}
.game-opmaak{
	margin-top: 100px;
	font-family: sans-serif;
	margin-left: 20px;
	margin-bottom: -30px;
	height: 1480px;	
}
.eend{
	margin-top: 100px;
	font-family: sans-serif;
	margin-left: 20px;
	margin-bottom: -30px;
	height: 1700px;
}
footer{
	height: 70px;
	width: 1920px;
	margin-top: 20px;
	margin-left: -20px;
	background-color: gray;
}
div.een{
	background-color: #696970;
	margin-bottom: 30px;
	margin-left: 200px;
	height: 200px;
	width: 700px;
	border-right: 5px solid #015249;
	transition: 0.3s;
}
div.een:hover{
	background-color: #696970;
	margin-bottom: 30px;
	margin-left: 200px;
	height: 235px;
	width: 700px;
	border-right: 5px solid green;
}
div.twee{
	background-color: #696970;
	margin-bottom: 30px;
	margin-left: 200px;
	height: 200px;
	width: 700px;
	border-right: 5px solid #015249;
	transition: 0.3s;
}
div.twee:hover{
	background-color: #696970;
	margin-bottom: 30px;
	margin-left: 200px;
	height: 240px;
	width: 700px;
	border-right: 5px solid green;
}
div.drie{
	background-color: #696970;
	margin-bottom: 30px;
	margin-left: 200px;
	height: 200px;
	width: 700px;
	border-right: 5px solid #015249;
	transition: 0.3s;
}
div.drie:hover{
	background-color: #696970;
	margin-bottom: 30px;
	margin-left: 200px;
	height: 240px;
	width: 700px;
	border-right: 5px solid green;
}
div.vier{
	background-color: #696970;
	margin-left: 200px;
	height: 200px;
	width: 700px;
	border-right: 5px solid #015249;
	transition: 0.3s;
}
div.vier:hover{
	background-color: #696970;
	margin-bottom: 30px;
	margin-left: 200px;
	height: 240px;
	width: 700px;
	border-right: 5px solid green;
}
div.advertentie-opmaak{
	position: relative;
	width: 590px;
	margin-left: -800px;
}
div.advertentie-opmaak:hover .advertentie{
	transform: scale(1.1);
}
/* opmaak text */
.footer{
	padding-top: 30px;
	margin-left: 150px;
	font-family: sans-serif;
}
h1{
	font-size: 55px;
	padding-left: 50px;
	position: relative;
	text-shadow: 5px 5px #30415D;
	display: inline;
}
h2{
	font-family: sans-serif;
	font-size: 30px;
	margin-left: 150px;
	display: inline;
}
h3{
	margin-left: 150px;
}
.teams-text-doei{
	margin-left: 150px;
	width: 900px;
	margin-bottom: 60px;
}
.teams-text-doei-doei{
	margin-left: 150px;
	width: 900px;
	margin-bottom: 60px;
}
.nieuws-text{
	margin-left: 150px;
}
.nieuws-link{
	color: red;
}
.news-text-doei{
	margin-left: 150px;
	margin-right: 600px;
}
.hobby{
	margin-left: 150px;
	font-size: 20px;
	display: inline-block;
	font-family: sans-serif;
	margin-right: 800px;
}
#show-content{
	display: none;
	margin-top: 115px;
	margin-left: 150px;
	transition: 0.5s;
}
#show-content-twee{
	display: none;
	margin-top: 120px;
	margin-left: 150px;
	transition: 0.5s;
}
#show-content-drie{
	display: none;
	margin-top: 28px;
	margin-left: 150px;
	transition: 0.5s;
}
#show-content-vier{
	display: none;
	margin-top: 65px;
	margin-left: 150px;
	transition: 0.5s;
}
#show-text:hover #show-content{
	display: block;
}
#show-text:hover #show-content-twee{
	display: block;
}
#show-text:hover #show-content-drie{
	display: block;
}
#show-text:hover #show-content-vier{
	display: block;
}
.news-text{
	margin-left: 360px;
	margin-top: -180px;
	padding-left: 20px;
}
.info-news{
	margin-left: 360px;
	padding-left: 20px;
	padding-right: 20px;
}
.teams-text{
	margin-left: 360px;
	margin-top: -180px;
	padding-left: 20px;
}
.teams-info{
	margin-left: 360px;
	padding-left: 20px;
}
.standings-text{
	margin-left: 360px;
	margin-top: -180px;
	padding-left: 20px;
}
.info-standings{
	margin-left: 360px;
	padding-left: 20px;
	padding-right: 20px;
}
.F1thegame-text{
	margin-left: 360px;
	margin-top: -180px;
	padding-left: 20px;
}
.F1thegame-info{
	margin-left: 360px;
	padding-left: 20px;
}
/* plaatjes opmaak */
.regen-F1{
	height: 300px;
	float: right;
	padding-left: 20px;
	margin-top: 30px;
}
.hobby-plaatje{
	margin-left: 10px;
	padding-left: 10px;
	height: 180px;
	float: right;
}
.advertentie{
	position: absolute;
	transition: all .2s ease-in-out;
}
.news{
	height: 200px;
}
.teams{
	height: 200px;
}
.standings{
	height: 200px;
	width: 355px;
}
.header{
	position: absolute;
	width: 700px;
	height: 250px;
	margin-top: -90px;
	margin-left: 20px;
}
.F1thegame{
	height: 200px;
	width: 355px;
}
/* menu opmaak */
li.teams{
	list-style-type: none;
}
ul.menu{
	display: inline-block;
	font-family: sans-serif;
	font-size: 17px;
	margin-left: 610px;
	position: absolute;
}
li.doei{
	display: inline-block;
	list-style-type: none;
	padding: 10px;
	margin-left: 10px;
	box-shadow: 3px 3px black;
}
li.doei:hover{
	cursor: pointer;
}
li.doei:active{
	border: 3px #015249 inset;
	box-shadow: 3px 3px #015249;
	background-color: #30415D;
}
a{
	text-decoration: none;
	color: #57BC90;
}